body {
    background: #f0f0f0;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h1 {
    font-size: 64px;
    margin-bottom: 1em;
    font-weight: bold;
}

h2 {
    font-size: 48px;
    font-weight: bold;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
    /*padding-bottom: 1em;*/
}

h5{
    font-size: 28px;
    /*padding-bottom: 1em;*/
}

img {
    /*border-color: #E6E6E6;*/
    border: solid 5px hotpink;
}
.button1 {
    width: 105px;
    height: 105px;
    background-color: #E6563B;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

.button2 {
    width: 105px;
    height: 105px;
    background-color: #EB9D3A;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;

}

.button3 {
    width: 105px;
    height: 105px;
    background-color: #7CB06C;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

.button4 {
    width: 105px;
    height: 105px;
    background-color: #00ABA9;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

#span {
    display: flex;
    flex-direction: column;
}

.small-button1 {
    width: 18px;
    height: 18px;
    background-color: #E6563B;
    font-size: 9px;
    display: inline-block;
    padding-top: 2px;
    text-transform: uppercase;
    color: black;
}

.small-button2 {
    width: 18px;
    height: 18px;
    background-color: #EB9D3A;
    font-size: 9px;
    display: inline-block;
    /*padding: 32px 10px 10px 10px;*/
    text-transform: uppercase;
    color: black;

}

.small-button3 {
    width: 18px;
    height: 18px;
    background-color: #7CB06C;
    font-size: 9px;
    display: inline-block;
    /*padding: 32px 10px 10px 10px;*/
    text-transform: uppercase;
    color: black;
}

.small-button4 {
    width: 18px;
    height: 18px;
    background-color: #00ABA9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: black;
}

@media only screen and (max-width: 576px) {







}

@media only screen and (min-width: 576px) {



}

@media only screen and (min-width: 768px) {


}