
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: auto;

}

.bigButtons {
    display: flex;
    justify-content: space-between;
}

.smallButtons {
    display: none;
}

body {
    background: #f0f0f0;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h1 {
    font-size: 64px;
    margin-bottom: 1em;
    font-weight: bold;
}

h2 {
    font-size: 48px;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    margin-bottom: 1em;
    font-weight: bold;
}

h4 {
    font-size: 32px;
    margin-bottom: 1em;
    font-weight: bold;
}

h5{
    font-size: 28px;
    margin-top: 3em;
}

p {
    flex-grow: 1;
}

img {
    border: 5px solid #E6E6E6;
}


.button1 {
    width: 105px;
    height: 105px;
    background-color: #E6563B;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1em;

}

.button2 {
    width: 105px;
    height: 105px;
    background-color: #EB9D3A;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1em;
}

.button3 {
    width: 105px;
    height: 105px;
    background-color: #7CB06C;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 3em;

}

.button4 {
    width: 105px;
    height: 105px;
    background-color: #00ABA9;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 3em;

}

#span {
    display: flex;
    flex-direction: column;
}

.row {
    margin: auto;
}

.Featured {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.SButtons {
    display: flex;
    justify-content: flex-end;
}

.small-button1 {
    width: 18px;
    height: 18px;
    background-color: #E6563B;
    border-radius: 50%;
    /*font-size: 9px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    text-transform: uppercase;
    color: black;
}

.small-button2 {
    width: 18px;
    height: 18px;
    background-color: #EB9D3A;
    border-radius: 50%;
    /*font-size: 9px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 32px 10px 10px 10px;*/
    text-transform: uppercase;
    color: black;

}

.small-button3 {
    width: 18px;
    height: 18px;
    background-color: #7CB06C;
    border-radius: 50%;
    /*font-size: 9px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 32px 10px 10px 10px;*/
    text-transform: uppercase;
    color: black;
}

.small-button4 {
    width: 18px;
    height: 18px;
    background-color: #00ABA9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: black;
}



@media only screen and (min-width: 576px) {

    .button1 {
        margin-bottom: 3em;
    }

    .button2 {
        margin-bottom: 3em;
    }

    .smallButtons {
        display: flex;
        flex-direction: row;
    }

    .bigButtons {
        display: flex;
        justify-content: space-between;
    }
}